[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=meego-handset-clock
Exec=/opt/meego-handset-clock/bin/meego-handset-clock
Icon=meego-handset-clock64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
